body {
    background-image: linear-gradient( #f1f1f1,#7c7b7b);
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;

    &--btn {
        align-items: center;
        background-image: linear-gradient(144deg, #080808, #949494 50%, #9b9b9b);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(100, 97, 104, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-family: Phantomsans, sans-serif;
        font-size: 20px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;

        &:hover,
        &:active {
            outline: 0;
        }

        & span {
            background-color: rgb(100, 97, 104);
            padding: 16px 24px;
            border-radius: 6px;
            width: 100%;
            height: 100%;
            transition: 300ms;
        }

        &:hover span {
            background: none;
        }
    }

    &--text {
        font-size: 20px;
        text-align: center;
        margin: 5% auto;
        width: 100%;
        color: white
    }
}

@media (min-width: 768px) {
    .content--btn {
        font-size: 24px;
        min-width: 196px;
    }
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

/*****************************/
/* MESSAGE BOX RELATED CLASS */
/*          (START)          */
/*****************************/

$msgbox-area-width-l: 480px;

$msgbox-area-y-pos: 15px;
$msgbox-area-x-s: 20px;
$msgbox-area-x-m: 80px;
$msgbox-area-x-l: 15px;

$msgbox-box-color: #ffffff;
$msgbox-box-background-color: rgba(#666666, 0.7);
$msgbox-box-padding: 1.5rem;
$msgbox-box-margin: 1rem;
$msgbox-box-border-radius: 12px;
$msgbox-box-box-shadow: 0 10px 15px rgba(#666666, 0.65);
$msgbox-box-backdrop-filter: blur(4px);
$msgbox-box-transition-time: 256ms;

$msgbox-close-color: #ffffff;
$msgbox-close-margin: 10px;
$msgbox-close-transition-time: 64ms;

$msgbox-close-hover-color: #efefef;
$msgbox-close-hover-text-shadow: 0 0 4px #ffffff;

.msgbox-area {
    font-size: inherit;
    max-height: 100%;
    position: fixed;
    bottom: $msgbox-area-y-pos;
    left: $msgbox-area-x-s;
    right: $msgbox-area-x-s;
}

.msgbox-box {
    font-size: inherit;
    color: $msgbox-box-color;
    background-color: $msgbox-box-background-color;
    margin: 0 0 $msgbox-box-margin;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: $msgbox-box-border-radius;
    box-shadow: $msgbox-box-box-shadow;
    backdrop-filter: $msgbox-box-backdrop-filter;
    transition: opacity $msgbox-box-transition-time ease-in;

    &.msgbox-box-hide {
        opacity: 0;
    }

    &:last-child {
        margin: 0;
    }
}

.msgbox-content {
    font-size: inherit;
    padding: $msgbox-box-padding;
    padding-bottom: $msgbox-box-padding / 2;
    flex-shrink: 1;
}

.msgbox-command {
    padding: $msgbox-box-padding;
    padding-top: $msgbox-box-padding / 2;
    display: flex;
}

.msgbox-close {
    color: $msgbox-close-color;
    font-size: inherit;
    text-decoration: none;
    margin: 0 $msgbox-close-margin;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    transition:
        color $msgbox-close-transition-time ease-out,
        text-shadow $msgbox-close-transition-time ease-out;

    &:hover {
        color: $msgbox-close-hover-color;
        text-shadow: $msgbox-close-hover-text-shadow;
    }

    &:first-child {
        margin-left: auto;
    }

    &:last-child {
        margin-right: 0;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .msgbox-area {
        left: $msgbox-area-x-m;
        right: $msgbox-area-x-m;
    }
}

@media (min-width: 768px) {
    .msgbox-area {
        width: $msgbox-area-width-l;
        height: 0;
        top: $msgbox-area-y-pos;
        left: auto;
        right: $msgbox-area-x-l;
    }
}